<!DOCTYPE html>
<html>
<head>
    <title>Agriculture AI System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🌿 Agriculture AI</h1>
        <p>Upload a crop, disease, or pest image for prediction</p>

        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <br>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>